extends layout

block head
  //- script(src="front-end.js")
  - function formatDecimal(x) { var str = x+""; return (str).slice(0,str.indexOf('.') + 3)}

block content
  - var timeStamp = new Date(parseInt(last_updated))
  - var timeString = timeStamp.toLocaleDateString() + ", " + timeStamp.toLocaleTimeString()

  h2= group_name
  h4= group_description
  h4= "Last updated: " + timeString

  - var form_action = "/groups/stats/"+group_id
  form(action=form_action, method="post")
    button(name="foo", value="bar") Update!

  table
    tr
      th: a(href="/groups/stats/"+group_id+"?q=name") Name(s)
      th: a(href="/groups/stats/"+group_id+"?q=ratio") Ratio
      th: a(href="/groups/stats/"+group_id+"?q=likesReceived") Likes Received
      th: a(href="/groups/stats/"+group_id+"?q=messageCount") Messages Sent
      th: a(href="/groups/stats/"+group_id+"?q=likesGiven") Likes Given
      th: a(href="/groups/stats/"+group_id+"?q=selfLikes") Self-Likes


    - for (var x in membersList)
      - var member = membersList[x]
      - if (x%2 == 0)
          tr.evenRow
            td.name= member.name
            td= formatDecimal(member.ratio)
            td= member.likesReceived
            td= member.messageCount
            td= member.likesGiven
            td= member.selfLikes
      - else
          tr.oddRow
            td.name= member.name
            td= formatDecimal(member.ratio)
            td= member.likesReceived
            td= member.messageCount
            td= member.likesGiven
            td= member.selfLikes
